body {
  max-width: 100%;
}

.intro {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
  background: lightgray;
}

h1 {
  font-family: "playfair display";
  font-size: 96px;
}
h3,
p.title {
  font-family: "poppins";
}

h3 {
  font-size: 36px;
}

p.title {
  font-size: 24px;
}

.start-button {
  margin-top: 18px;
}
