:root {
  --brand-color: #5844ff;
}

.intro {
  background: #f8f4fd;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  max-width: 100%;
}

h1 {
  font-family: "playfair display";
  font-size: 96px;
}
h3,
p.title {
  font-family: "poppins";
}

h2 {
  margin-top: 80px;
  font-size: 64px;
  font-family: "poppins";
}

h3 {
  font-size: 36px;
}

p {
  font-size: 16px;
  font-family: poppins;
  margin-top: 40px;
  margin-bottom: 40px;
}

p.title {
  font-size: 24px;
}

.start-button {
  margin-top: 18px;
}

.featured {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.start-button {
  font-size: 15px;
  padding: 12px 18px;
  border-radius: 5px;
  color: white;
  border: 1px solid var(--brand-color);
  background: var(--brand-color);
  margin-top: 10px;
}

.project-button {
  font-size: 15px;
  padding: 12px 18px;
  border-radius: 5px;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  background: transparent;
  margin-top: 10px;
  margin-bottom: 80px;
}

@media (max-width: 700px) {
  .index-img {
    display: none;
  }
  h1 {
    font-size: 80px;
    padding: 0px 10px;
    text-align: center;
  }
  h2 {
    font-size: 48px;
    text-align: center;
  }
  p {
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  .project-button {
    margin-bottom: 20px;
  }
  .about-img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.container-body {
  margin-top: 100px;
}
.header {
  font-size: 64px;
}
.about-summary {
  font-size: 18px;
  margin-top: 40px;
}
.about-img {
  border-radius: 10px;
}

.title {
  padding: 0 100px 50px 100px;
  margin-right: 100px;
}

.label {
  padding-top: 20px;
  padding-bottom: 40px;
}

.contact {
  font-size: 28px;
}
.paragraph-body {
  margin-left: 150px;
  margin-top: 160px;
}
